<dl class="metadata-block">
  {% for item in include.meta[site.active_lang] %} {% if item.value contains 'page.' %} {% assign key = item.value | remove: 'page.' %} {% assign value = page[key] %} {% else %} {% assign value = item.value %} {% endif %} {% comment %}Only display non-empty values{% endcomment %} {% if value | strip != '' %} {% comment %}Strip prefix from links{% endcomment %} {% if item.type == 'link' %} {% if key == 'manifest' %} {%- capture value -%}
  <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
  {%- endcapture -%} {% else %} {%- capture value -%}
  <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer"> {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }} </a>
  {%- endcapture -%} {% endif %} {% endif %} {% comment %}Convert language ISO code to its name{% endcomment %} {% if item.value == 'page.language' %} {% assign languages = page.language | split: "," %} {% assign language_string = "" %} {% for language in languages %} {% for i in site.data.languages %} {% if i.iso == language %} {% assign language_name = i.description %} {% endif%} {% endfor %} {% capture language_string %}{{language_string | append: language_name}}{% unless forloop.last %}, {% endunless%}{% endcapture %} {% endfor %} {%- capture value -%}{{language_string}}{%- endcapture -%} {% endif %} {% comment %}RELATED TO{% endcomment %} {% if item.value == 'page.related_to' %} {% assign related_items = value | split: ',' %} {%- capture value -%} {% for i in related_items %} {%- capture pid_label -%} {% for collection in site.collections %} {% for document in site[collection.label] %} {% if document.pid == i %} {% capture resource_link %}{{collection.label}}/{{i}}/{% endcapture
  %}
  <a href="{{ resource_link | absolute_url }}">{{document.label}}</a><br />
  {% endif %} {% endfor %} {% endfor %} {%- endcapture -%} {{pid_label}} {% endfor %} {%- endcapture -%} {% endif %}

  <dt>{{ item.label }}</dt>
  <dd>{{ value | strip }}</dd>
  {% endif %} {% endfor %}
</dl>
