---
layout: generic_collection_item
image_viewer: "simple"
pagination: true
meta:
  en:
    - label: "Blurb"
      value: page.blurb_en
    - label: "They refer to themselves as..."
      value: page.claimed_genre_en
    - label: "Language(s)"
      value: page.language
    - label: "Creator(s)"
      value: page.creators
    - label: "Steward(s)"
      value: page.stewards
    - label: "Related To"
      value: page.related_to
    - label: "Link"
      value: page.link
      type: link
  es:
    - label: "Resumen"
      value: page.blurb_es
    - label: "Se refieren a si mismos como..."
      value: page.claimed_genre_es
    - label: "Lenguaje(s)"
      value: page.language
    - label: "Creador(es)"
      value: page.creators
    - label: "A cargo de"
      value: page.stewards
    - label: "Relacionado con"
      value: page.related_to
    - label: "Enlace"
      value: page.link
      type: link
---
